.container {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    background-color: #f5f5f5;
    font-family:'Courier New', Courier, monospace;
    height: 100vh;
    padding: 10px;
}

.timer-digits {
    font-size: 100px;
    color: #333333;
  
}

.display {
    background-color: #ffffff;
    border: 2px solid #8a8484;
    border-radius: 10px;
   padding: 20px 40px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.timer-finished {
    display: none;
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.start {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
transition: 0.2s;
 
}

.start:active {
 transform: scale(0.95);  
}

.pause {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
transition: 0.2s;
}

.pause:active {
 transform: scale(0.95);  
}

.clear {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
transition: 0.2s;
}

.clear:active {
 transform: scale(0.95);  
}