.container {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    background-color: #f5f5f5;
    font-family:'Courier New', Courier, monospace;
}

.timer-digits {
    font-size: 100px;
    color: #333333;
}
