.container {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    background-color: #f5f5f5;
    font-family:'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
}

.timer-digits {
    font-size: 100px;
    color: #333333;
  
}

.display {
    background-color: #ffffff;
    border: 2px solid #8a8484;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 15px;
}

.buttons {
    display: inline;
    justify-content: center;
}
.start {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
}


.pause {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
}

.clear {
display:inline-flex;
border: 2px solid #8a8484;
height: 40px;
width: 40px;
border-radius: 50px; 
justify-content: center;  
align-items: center;
}